.tabContainer {
    display: flex;
    align-self: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 2;
    cursor: pointer;
}

.tabSlide {
    display: flex;
    position: absolute;
    background-color: #fff;
    height: 32px;
    border-radius: 7px;
}